h1 {
   font-family: 'Thasadith', sans-serif;
}

h1 a:link {
   background-color: #f1f1f1;
}

h1 a:visited {
   color: black;
}

/* css for index page*/
.center {
    text-align: center;
 }
 
 .login {
    display: inline-block;
    width: 150px;
    padding: 25px;
    height: 50px;
 }
 
 .signup {
   display: inline-block;
   width: 150px;
   padding: 25px;
}

/*nav bar*/
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 25%;
   background-color: #f1f1f1;
   position: fixed;
   height: 100%;
   overflow: auto;
 }
 
 li a {
   display: block;
   color:#c41230;
   padding: 8px 16px;
   text-decoration: none;
 }
 
 li a.active {
   background-color: #f8880d;
   color: white;
 }
 
 li a:hover:not(.active) {
   background-color: #555;
   color: white;
 }

/* page text */
.main, .employee, .dependent {
   margin-left:25%;
   padding:1px 16px;
   height:1000px;
}

 