.center {
    text-align: center;
 }
 
 .login {
    display: inline-block;
    width: 150px;
    padding: 25px;
    padding-bottom: 10px;
 }
 
 .signup {
    display: inline-block;
    width: 150px;
    padding: 25px;
 }
