h1 {
   font-family: 'Shadows Into Light', cursive;
}
a {
   text-decoration: none;
}
.center {
    text-align: center;
 }
 
 .login {
    display: inline-block;
    width: 150px;
    padding: 25px;
    height: 50px;
 }
 
 .signup {
    display: inline-block;
    width: 150px;
    padding: 25px;
 }